{{> dasheader}}

<form action="/create/user/blog/" method="POST">
    <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="title" required>
    </div>
    <div>
        <label for="body">Body</label>
        <input type="text" id="body" name="body" required>
    </div>
    <div>
        <button type="submit">
            Create
        </button>
    </div>
    </form>